
<div class="list-group-item">
	<div ng-repeat='(k,v) in fields | keyFilter: "id"' class="row">
		<div class="col-sm-4 control-label strong"><h4><strong>{{k | labelCase}}</strong></h4></div>
		<div class="col-sm-6" ><h4>{{contact[k][0]}}</h4></div>
	</div>
</div>
<div class="list-group-item">
	<a href="#">
		<button class="btn btn-default" ng-click='edit(contact.id)'>
			<span class="glyphicon glyphicon-pencil"></span><span> - Edit</span>
		</button>
	</a> 
	<a href="#/">
		<button class="btn btn-default"
			ng-click="remove(contact.id)">
			<span class="glyphicon glyphicon-remove"></span><span> -
				Remove</span>
		</button>
	</a>
</div>
